/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Ubuntu', sans-serif;*/
/*font-family: 'Inconsolata', monospace;*/

body{
	margin: 0;
	padding:0;
	font-family: 'Playfair Display', serif;
	color: #626262;
	

}

/*Header strat*/
 header{
 	padding: 22px;
 	;
 }
 .container {
 	overflow: hidden;
    width: 94%;
 	margin: 0 auto;

 	
 	

}

.logo {
	width: 10%;
	float: left;

	
}
.logo img{
	width:100%;
}


.menu {
	width: 60%;
	float: right;
	margin: -12px -55px;
	
	
	


}

.menu ul {
	
}

.menu ul li {
	float: left;
	list-style: none;
	
}

.menu ul li a {
	display: block;
	padding: 0 50px;
	text-decoration: none;
	color: #626262;

}
/*Header end*/
/*banner start*/
.banner{}
.bannerimg {}
.bannerimg img{
	width: 100%;
	margin: 0px 16px;
}
/*banner end*/
/*perfect start*/
.perfect{
	padding-top: 90px;
	padding-bottom: 130px;

}
.container2{
	width: 80%;
	margin:0 auto;
	
}
.perfect-content{

}

.commonp{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300px;
	
	color: #b4ad9e
	

}

.perfect-content h1{
	margin-top: 10px;
	font-weight: 400;
    font-size: 30px;
}

.perfecttext{
	line-height: 25px;
    font-size: 14px;
    margin-bottom: 40px;


}



/*perfect end*/